/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff8f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #555f77;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  color: #2f4858;
}

/* Weather App Container */
#weather-app {
  width: 90%;
  max-width: 600px;
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 20px #ffc7c2;
  text-align: center;
  backdrop-filter: blur(10px);
  border: 2px solid #ffc7c2;
  margin: 10px 0;
}

/* Search Bar */
#search-form {
  margin-bottom: 30px;
}

.search-input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ee6462;
  border-radius: 20px 0 0 20px;
  font-size: 1rem;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #ee6462;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-button:hover {
  background-color: #c5918c;
}

/* City Image */
#city-image-section {
  margin: 20px 0;
}

#city-img {
  width: 500px;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

/* City Info */
#city-info-container {
  margin-top: 30px;
}

#city-name {
  font-family: "Abril Fatface", serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #2f4858;
}

#date-time {
  font-size: 0.9rem;
  color: #e0e0e0;
}

/* ! Rude Sentence */
#rude-sentence {
  margin: 20px 0;
  padding: 0 50px;
  font-size: 0.9rem;
  /* font-weight: 700; */
  /* font-style: italic; */
  text-align: center;
  color: #ee6462;
  font-family: "Abril Fatface", serif;
}

/* ! Current Weather */
#current-weather-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#weather-temp-icon {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
}

.current-weather-data {
  text-align: left;
}
.current-temperature {
  font-size: 3rem;
  font-family: "Abril Fatface", serif;
  color: #2f4858;
}
.paragraph {
  font-size: 0.8rem;
}

/* ! Forecast Section */
#forecast {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.forecast-item {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.forecast-item:hover {
  transform: scale(1.1);
}

.forecast-item img {
  width: 40px;
  height: 40px;
}

.forecast-item p {
  margin: 5px 0;
  font-size: 0.9rem;
}

footer p {
  font-size: 0.8rem;
}

/* Responsive Design */
@media (max-width: 620px) {
  #current-weather-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0;
  }

  #current-temperature {
    font-size: 5rem;
  }

  #weather-icon {
    width: 150px;
    height: 150px;
  }

  .forecast-item img {
    width: 30px;
    height: 30px;
  }

  header {
    margin-bottom: 50px;
  }

  .search-input {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 20px;
    text-align: center;
  }

  .search-button {
    width: 100%;
    border-radius: 20px;
  }

  /* ! Rude Sentence */
  #rude-sentence {
    font-size: 1.2rem;
  }

  /* ! current-weather container */
  #current-weather-container {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .paragraph {
    text-align: center;
  }

  #city-name {
    padding-top: 10px;
  }

  /* City Image */
  #city-img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}
